/* Landing page */
html {
    height: 100%;
}

/* Main page */
body {
    background-image: url("../img/blur-back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Roboto" !important;
    height: 100%;
    margin: 0;
    color: rgb(194, 194, 194);
}

/*----------------*/

#chat {
    position: fixed;
    width: 300px;
    height: 500px;
    max-height: 500px;
    right: 0;
    bottom: 0;
    background-color: rgba(20, 20, 20, 0.9);
    border-radius:  15px 15px 5px 5px;
    border: 3px solid white;
    overflow: hidden;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.5);
}

#chat-msgs {
    position: absolute;
    bottom: 45px;
    font-size: 10pt;
    overflow-y: auto;
    max-height: 90%;
    width: 100%;
}

#chat-msgs::-webkit-scrollbar {
    display: none;
}

.msg-div {
    width: 100%;
    height: auto;
    min-height: 40px;
    overflow: hidden;
}

.msg-text {
    color: #fff;
    position: relative;
    min-height: auto;
    max-width: 60%;
    padding: 7px;
    margin: 4px 10px 4px 10px;
    /*margin-top: 5px;
    margin-bottom: 5px;*/
    border-radius: 7px;
}

.other-msg {
    background-color: #979ca3;
    /* margin-right: 50px; */
    float: left;
}    

.own-msg {
    background-color: #72bf3f;
    float: right;
}

#chat-text-input-and-button {
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
}

#chat-text-input {
    width: 100%;
    padding-right: 40px;
}