/* Landing page */
html {
    height: 70%;
}

/* Main page */
body {
    background-image: url("../img/blur-back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    margin: 0;
    color: rgb(213, 213, 213);
}

/*----------------*/

#chat {
    position: relative;
    width: 80%;
    height: 90%;
    margin-left: 10%;
    margin-top: 10%;
    background-color: rgba(20, 20, 20, 0.902);
    border-radius:  15px 15px 5px 5px;
    border: 3px solid white;
    overflow: hidden;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.5);
}

#chat:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

#chat-msgs {
    position: absolute;
    bottom: 20%;
    font-size: 10pt;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 90%;
    width: 100%;
}

#chat-msgs::-webkit-scrollbar {
    display: none;
}

.msg-div {
    width: 100%;
    height: auto;
    min-height: 20px;
    overflow: hidden;
}

.msg-text {
    position: relative;
    color: #fff;
    min-height: auto;
    max-width: 40%;
    margin-bottom: 2px;
    border-radius: 20px;
    font-size: 22px;
    margin-left: 50px;
}

.other-msg {
    background-color: #979ca3;
    float: left;
    margin-left: 2% !important;
}    

.own-msg {
    background-color: #72bf3f;
    float: right;
    margin-right: 2% !important;
}

#chat-text-input-and-button {
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
}
  
.center{
    text-align: center;
}

#message-to-send,
span,
.msg-div
{
    font-family: 'Ubuntu', sans-serif;
    padding: 5px;
    border: none;
}
  
#message-to-send:focus {
    outline: 0;
}
  
#message-to-send {
    font-size: 40px;
    margin-bottom: 2%;
    margin-left: 2%;
    width: 95%;
    background: rgba(221, 221, 221, 0.076); 
    color: white;
}

